
<div class="container">

		<div class="row">

			<div class="col-md-10 col-md-offset-1">

				<div class="row">

					<div class="col-md-12">
						<div class="txt_y_line">
							<h2>QREACHERS ЭТО</h2>
							<p>Интернет медиа агентство нового типа, концентрируются на решении проблем конверсии и продаж для больших брендов. Использует уникальные технологии в планировании и проведении кампаний, которые не имеют аналогов в мире. Потому что просто показы контекстных сообщений и баннеров не приводят к продажам. А мы знаем и умеем.</p>
						</div>
					</div>

				</div><!--.row-->
			
			<div class="type_items">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="type_item type_item__smart wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.6s" data-wow-offset="100">
							<h4>Smart</h4>
							<p>Используем только performance-based инструменты</p>
						</div><!--.type_item-->
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="type_item type_item__digital wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.6s" data-wow-offset="100">
							<h4>Digital</h4>
							<p>Работаем только с цифровыми каналами</p>
						</div><!--.type_item-->
					</div>

					<div class="cf visible-sm"></div>

					<div class="col-md-3 col-sm-6">
						<div class="type_item type_item__media wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.6s" data-wow-offset="100">
							<h4>Media</h4>
							<p>Доносим сообщения, вовлекаем и делаем продажи вместо покупки показов</p>
						</div><!--.type_item-->
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="type_item type_item__agency wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.6s" data-wow-offset="100">
							<h4>Agency</h4>
							<p>Совмещаем гибкость проектной команды и преимущества локальной сети</p>
						</div><!--.type_item-->
					</div>
				</div><!--.row-->
			</div><!--.type_items-->

				<div class="row">
					<div class="col-md-12">
						<div class="about__video">
							<div class="videoWrapper">
								<iframe width="420" height="315" src="https://www.youtube.com/embed/L_FHtjrpkcA" frameborder="0" allowfullscreen></iframe>
							</div>

							<div class="case_page__video-layer">
								<img src="/img/img-about_video.jpg" alt="#">
								<div class="video_play-btn"><span>Play</span></div>
							</div>
						</div>
					</div>
				</div><!--.row-->

				<script type="text/javascript">
				$(document).ready(function(){
					$('.video_play-btn').click(function(){
						$(this).fadeOut(300);
						$('.case_page__video-layer').fadeOut(300);
					});
				});
				</script>
			

				<div class="about__exper">

					<div class="row countto">
						<div class="col-md-4 col-sm-4">
							<div class="about__exper-item">
								<span class="countto__number">500</span>
								<p>УСПЕШНЫХ РЕАЛИЗОВАННЫХ DIGITAL КАМПАНИЙ</p>
							</div>
						</div>

						<div class="col-md-4 col-sm-4">
							<div class="about__exper-item">
								<span class="countto__number">5</span>
								<p>БОЛЕЕ 5 ЛЕТ ЕЖЕДНЕВНОГО ОПЫТА В DIGITAL</p>
							</div>
						</div>

						<div class="col-md-4 col-sm-4">
							<div class="about__exper-item">
								<span class="countto__number">80</span>
								<p>ПРОФЕССИОНАЛОВ В УКРАИНЕ, РОССИИ И КАЗАХСТАНЕ</p>
							</div>
						</div>
					</div><!--.row-->

				</div><!--.about__exper-->


				<div class="about__info">

					<div class="row">
						<div class="col-md-6">
							<div class="about__info-txt wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.6s" data-wow-offset="100">
								<div class="thumb"><img src="/img/img-about_places.png" alt="#"></div>
								<p>Qreachers является частью группы кампаний Smartica, включающей в себя digital агентства полного цикла в России, Украине и Казахстане.</p>
							</div>
						</div>

						<div class="col-md-6">
							<div class="about__info-sert wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.6s" data-wow-offset="100">
								<div class="thumb"><img src="/img/img-about_certif.png" alt="#"></div>
								<p>Сертификация Google Partners / Yandex</p>
							</div>
						</div>
					</div><!--.row-->
				
				</div><!--.about__info-->


			</div><!--.col-offset-1-->




		</div><!--.row-->

	</div><!--.container--> 
 
