<div class="container">

    <div class="row">

        <div class="col-lg-10 col-lg-offset-1">
            <article class="txt_style">			
                <div class="txt_style__statsbox visible-md visible-lg">
                    <span>{{progress}}</span>
                    {{{progress_text}}}
                </div><!--.txt_style__statsbox-->

                <h4>{{title}}</h4>
                
                    {{{text}}}
                    
            </article>
        </div><!--.col-->

    </div><!--.row-->

</div><!--.container-->