/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0px auto 20px;
	padding: 0;
    padding-top: 90px;
	*zoom: 1;
}

.image-slider {
    margin-bottom: 20px;
}

.bx-wrapper:before {
    display: block;
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 20;
    top: 40px;
    background: -moz-linear-gradient(left,  rgba(247,247,247,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(247,247,247,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(247,247,247,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(247,247,247,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(247,247,247,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.bx-wrapper:after {
    display: block;
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 20;
    top: 40px;
    right: -2px;
    background: -moz-linear-gradient(right,  rgba(247,247,247,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, right top, left top, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right,  rgba(247,247,247,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right,  rgba(247,247,247,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(right,  rgba(247,247,247,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to left,  rgba(247,247,247,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#00ffffff',GradientType=2 ); /* IE6-9 */
}

@media screen and (min-width: 992px) {
    .bx-wrapper:before,
    .bx-wrapper:after {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .bx-wrapper {
        max-width: 90% !important;
    }
    
    .image-slider {
        .bx-wrapper {
            max-width: 100% !important;
        }
    }
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
    margin: 0 auto;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	width: 12px;
    right: 100%;
	background: url(../images/carousel.png) no-repeat 0 0;
}

.bx-wrapper .bx-next {
	left: 100%;
    width: 12px;
	background: url(../images/carousel.png) no-repeat -15px 0;
}

.image-slider {
    .bx-wrapper .bx-prev {
        width: 18px;
        right: 100%;
        background: url(../images/big-left.png) no-repeat 0 0;
    }

    .bx-wrapper .bx-next {
        left: 100%;
        width: 18px;
        background: url(../images/big-right.png) no-repeat 0 0;
    }
    
    .bx-wrapper {
        width: 100% !important;
        
        .bx-prev:hover {
            background: url(../images/big-left-hover.png) no-repeat 0 0;    
        }
        
        .bx-next:hover {
            background: url(../images/big-right-hover.png) no-repeat 0 0;
        }
        
        .bx-controls-direction {
            position: absolute;
            bottom: 90px;
            left: 90%;
            width: 30px;
        }
    }
    
    .bx-wrapper:after,
    .bx-wrapper:before {
        display: none !important;
    }
    
    .bx-wrapper .bx-controls-direction a {
        opacity: 1;
        height: 28px;
    }
}

.bx-wrapper .bx-prev:hover {
	opacity: 1;
}

.bx-wrapper .bx-next:hover {
	opacity: 1;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: 36px;
	outline: 0;
	width: 12px;
	height: 18px;
	text-indent: -9999px;
	z-index: 9999;
    opacity: .5;
    transition: .2s linear;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}