.preload {
    width: 100%;
    height: 100%;
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    z-index: 1000;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: #1b1b1b;
}

.logo {
    background: none;
    border: 4px solid white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    width: 97px;
    height: 53px;
} 

.number-left, .number-right {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    right: -8px;
    opacity: 0;
}

.cycle {
    width: 97px;
    height: 53px;
    
    -webkit-animation: play 4s infinite;
        -ms-animation: play 4s infinite;
            animation: play 4s infinite;
}

@-webkit-keyframes play {
    0% { width: 97px; height: 53px; }
    12% { width: 75px; height: 55px; }
    18% { width: 75px; height: 55px; }
    29% { width: 77px; height: 25px; }
    35% { width: 77px; height: 25px; }
    46% { width: 51px; height: 57px; }
    52% { width: 51px; height: 57px; }
    63% { width: 38px; height: 39px; }
    69% { width: 38px; height: 39px; }
    80% { width: 75px; height: 26px; }
    86% { width: 75px; height: 26px; }
    97% { width: 97px; height: 53px; }
}

@-ms-keyframes play {
    0% { width: 97px; height: 53px; }
    12% { width: 75px; height: 55px; }
    18% { width: 75px; height: 55px; }
    29% { width: 77px; height: 25px; }
    35% { width: 77px; height: 25px; }
    46% { width: 51px; height: 57px; }
    52% { width: 51px; height: 57px; }
    63% { width: 38px; height: 39px; }
    69% { width: 38px; height: 39px; }
    80% { width: 75px; height: 26px; }
    86% { width: 75px; height: 26px; }
    97% { width: 97px; height: 53px; }
}

@keyframes play {
    0% { width: 97px; height: 53px; }
    12% { width: 75px; height: 55px; }
    18% { width: 75px; height: 55px; }
    29% { width: 77px; height: 25px; }
    35% { width: 77px; height: 25px; }
    46% { width: 51px; height: 57px; }
    52% { width: 51px; height: 57px; }
    63% { width: 38px; height: 39px; }
    69% { width: 38px; height: 39px; }
    80% { width: 75px; height: 26px; }
    86% { width: 75px; height: 26px; }
    97% { width: 97px; height: 53px; }
}