<div class="container">

    <div class="row">

        <div class="col-lg-10 col-lg-offset-1">	
            <article class="txt_style">
            <footer class="cf">
                <div class="row">
                    <div class="col-md-6">
                        <div class="post_author">{{author}}</div>
                    </div>

                    <div class="col-md-6">
                        <div class="social_v_box">
                            <ul class="list-unstyled">
                                <li class="vk"><a href="#">share <span>21</span></a></li>
                                <li class="fb"><a href="#">share <span>128</span></a></li>
                                <li class="tw"><a href="#">tweet <span>13</span></a></li>
                            </ul>
                        </div><!--.social_v_box-->
                    </div>
                </div><!--.row-->
            </footer>
            </article>
        </div><!--.col-->

    </div><!--.row-->


</div><!--.container-->