<section class="news_box" id="news">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1">

                <div class="news_box__in cf wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.5s" data-wow-offset="60">
                    <ul class="list-unstyled slides">
                        {{#each groups}}
                        <li>
                            
                            <div class="row">
                                {{#each items}}
                                <div class="col-md-6">

                                    <div class="news_box__item">
                                        <a href="{{viewUrl}}">
                                            <div class="news_box__thumb">
                                                <img src="{{previewImg}}" alt="#">
                                            </div>

                                            <div class="news_box__txt">
                                                <div class="news_box__txt-in wow fadeInDown" data-wow-duration="0.6s" data-wow-delay="0.8s" data-wow-offset="60">
                                                    <h4>{{title}}</h4>
                                                    <span>{{category_id}}</span>
                                                </div>
                                                {{{boxLineBotton}}}
                                            </div><!--news_box__txt-->
                                        </a>
                                    </div><!--.news_box__item-->

                                </div>
                                {{/each}} 
                            </div><!--.row-->
                            
                        </li>
                        {{/each}}
                    </ul>
                </div><!--.news_box__in-->


            </div><!--.col-->

        </div><!--.row-->

        <div class="trio_nav__wrap wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.8s" data-wow-offset="60">
            <div class="trio_nav">
                <div class="trio_nav__in">
                    <div class="trio_nav__left"></div>
                    <a href="{{urlToNews}}">
                        <span class="trio_nav__ico"></span>
                        <span class="trio_nav__txt">{{all_articles}}</span>
                    </a>
                    <div class="trio_nav__right"></div>
                </div>
            </div><!--.trio_nav-->
        </div><!--.trio_nav__wrap-->

    </div><!--.container-->
</section><!--.news_box-->
<script>
    $(document).ready(function() {

	// Main page news slider
	if($('.news_box__in').length) {
		$('.news_box__in').flexslider({
			slideshow: false,
			directionNav: false,
			controlNav: false,
			start: function(slider) {
			    $('.news_box .trio_nav__left').click(function(event){
			        event.preventDefault();
			        slider.flexAnimate(slider.getTarget('prev'));
				});

				$('.news_box .trio_nav__right').click(function(event){
			        event.preventDefault();
			        slider.flexAnimate(slider.getTarget('next'));
				});
			}
		});
	}
        
        if($('.trio_nav').length) {
		$('.trio_nav').hover(function(){
			$(this).addClass('trio_nav--hovered');
		});
	}

	if($('.trio_nev').length) {
		$('.trio_nev').hover(function(){
			$(this).addClass('trio_nev--hovered');
		});
	}
 });

</script>