/*-------- Filter part --------*/

.filter-btn {
    display: inline-block;
    padding: 18px 35px;
    border: 2px solid #1b1b1b;
    color: #1b1b1b;
    margin: 45px 0 0 40px;
    transition: .2s linear;
}

.filter-btn:hover {
    border-color: $green;
}

.filter-box {
    min-height: 145px;
    width: 100%;
    position: relative;
}

.single-tag {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 20px;
    border-right: 1px solid #daf0e2;
    color: #bbbbbb;
    transition: .2s;
    font-family: $light;
}

.single-tag:hover {
    opacity: 1;
    color: $green;
}

.single-tag:last-of-type {
    border: none;
}

.content-wrap {
    .tags-box {
        margin-bottom: 45px;
        padding-left: 0;
        padding-right: 0;
        
        .single-tag:first-of-type {
            padding-left: 0;
        }
    }
}

.filter-box {
    .tags-box {
        //display: none;
        padding-bottom: 105px;
        position: absolute;
        top: -300px;
        transition: .4s linear;
    }
    
    .opened-tags {
        top: 65px;
    }
    
    .single-tag:first-of-type {
        margin-left: 30px;
    }
}

.content-box {
    
}

.tags-box {
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    
    a.active {
        opacity: 1;
    }
}

.tags-close {
    display: none;
    position: absolute;
    content: "";
    top: 63px;
    left: 56px;
    width: 20px;
    height: 20px;
    background: url(../images/close.png) center no-repeat;
    cursor: pointer;
    z-index: 99;
}

.closed {
    width: 0px;
    height: 0px;
    padding: 0;
    margin-top: 65px;
    color: transparent;
}

.filter-box:before {
    display: block;
    width: 100%;
    height: 45px;
    background: white;
    content: "";
    position: absolute;
    top: 0;
    z-index: 100;
}

.show-more {
    display: inline-block;
    padding: 18px 30px;
    border: 3px solid #1b1b1b;
    margin: 0 auto 80px;
    color: #1b1b1b;
    text-transform: uppercase;
    font-family: $bold;
    transition: .2s linear;
}

.show-more:hover {
    border-color: $green;
}

.btn-wrap {
    text-align: center;
}