/*-------- Head part --------*/

.head-video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    content: '';
    position: relative;
    
    img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    
    .wrapper {
        position: absolute;
        z-index: 100%;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100%;
        z-index: 99;
        
        .vertical-centered-content {
            display: inline-block;
            position: absolute;
            width: 70%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        h1 {
            text-transform: uppercase;
        }
    }
}

.vertical-video {
    height: 100% !important;
    width: auto !important;
    transform: translateX(-50%);
    left: 50% !important;
}

h1 {
    font-size: 50px;
    font-family: $bold;
    color: $gold;
    text-align: center;
}

.watch-fullscreen {
    display: block;
    content: "";
    width: 53px;
    height: 53px;
    background: url(../images/watch.png) center no-repeat;
    transition: .2s linear;
    margin: 50px auto 0;
    border: 2px solid white;
}

.watch-fullscreen:hover {
    background: url(../images/watch-hover.png) center no-repeat;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 30px;
    }
}

.video-fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 2000;
    
    iframe {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    
    button {
        display: none;
        font-size: 24px;
        color: white;
        position: absolute;
        cursor: pointer;
        opacity: 0.5;
        transition: .2s linear;
    }
    
    button:hover {
        opacity: 1;
    }
}

:focus {
    outline: none;
}