.rules {
    padding-bottom: 100px;
    
    h2 {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    
    ol, ol li {
        font-family: $light;
        font-size: 18px;
        line-height: 24px;
    }

    ol {
        counter-reset: li;
        list-style: none;
    }

    ol li {
        position: relative;
        padding: 50px 70px 50px 140px;
        border-top: 3px solid #eaeaea;
    }

    ol li:last-of-type {
        border-bottom: 3px solid #eaeaea;
    }

    ol li:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        top: 65px;
        left: 50px;
        font-size: 57px;
        font-family: $bold;
        color: $green;
    }
}