.stats {
    padding-bottom: 40px;
    
    h2 {
        margin-bottom: 50px;
    }
}

.stat-box {
    width: 194px;
    float: left;
    margin-right: 18px;
    margin-bottom: 50px;
    text-align: center;
    
    span {
        font-family: $bold;
        font-size: 89px;
        color: $gold;
    }
    
    p {
        font-family: $light;
        font-size: 15px;
        line-height: 20px;
        color: #1b1b1b;
    }
}

.stat-box:nth-of-type(4n+4) {
    margin-right: 0;
}

.stat-box:nth-of-type(4n+5) {
    clear: left;
}

@media screen and (max-width: 991px) {
    .stat-box:nth-of-type(4n+4) {
        margin-right: 18px;
    }
    
    .stat-box:nth-of-type(3n+3) {
        margin-right: 0px;
    }
    
    .stat-box:nth-of-type(4n+5) {
        clear: none;
    }
}

@media screen and (max-width: 767px) {
    .stat-box {
        float: none;
        margin: 0 auto 30px !important;
        clear: none;
    }
}