<section class="cases_page">
    <br>
    <div class="container">

        <div class="row">

            <div class="col-md-10 col-md-offset-1">

                <div class="top_filters">
                    <div class="top_filters__sort">
                        <ul class="list-unstyled">
                            <li class="desc">{{filter}}<div class="ico"></div></li>
                        </ul>
                    </div><!--.top_filters__sort-->

                    <div class="top_filters__multi" style="display: none;">
                        <h4>{{type}}:</h4>
                        <ul class="list-unstyled">
                            {{#each categories}}                                
                            <li class="active project-category-item" data-filter=".data-filter-{{id}}" categoryId = "{{id}}">{{title}}<div class="ico"></div></li>
                            {{/each}}
                        </ul>
                    </div><!--.top_filters__multi-->

                    <div class="top_filters__multi" style="display: none;">
                        <h4>{{client}}</h4>
                        <ul class="list-unstyled">
                            {{#each clients}}                                
                            <li class="active project-category-item" data-filter=".data-filter-{{id}}" categoryId = "{{id}}">{{title}}<div class="ico"></div></li>                                
                            {{/each}}                            
                        </ul>
                    </div><!--.top_filters__multi-->

                </div><!--.top_filters-->

            </div><!--.col-10-->

        </div><!--.row-->

        <div class="row">
            <div class="projects">

            </div>
        </div><!--.row-->


        <div class="more_btn">            
            <a href="javascript:void(0);" id="portfolioShowMore" class="btn btn-bb animated">{{show_more}}</a>            
        </div>

    </div><!--.container-->


</section><!--.cases_page-->

<script type="text/javascript">

    $(window).on('page.view.portfolio.portfolio.renderWidgetItems', function () {
        // Cases show/hide description
        if ($('.projects_box__txt p').length) {
            $('.projects_box__item').hover(function () {
                $(this).find('.projects_box__txt p').slideToggle(250);
            });
        }

        if (!$.isEmptyObject(app.view.grid)) {
            return;
        }

        $('body').addClass('cases_body');
        
        app.logger.text('app.view.grid = $(".projects").isotope');
        $('.filter-box .tags-box').off('click');
        // init Isotope
        app.view.grid = $('.projects');
        app.view.grid.isotope({
            itemSelector: '.project-box',
            layoutMode: 'fitRows'

        });

        // Page filters
        if ($('.top_filters__multi').length) {
            //$('.top_filters__multi').hide();
            $('.top_filters__sort li').click(function () {
                $(this).toggleClass('asc').toggleClass('desc');
                $('.top_filters__multi').slideToggle(300);
            });
            $('.top_filters__multi li').click(function () {
                $(this).toggleClass('active');
            });
        }

    });

</script>