{{#each items}}
    <div class="col-md-6 news-wrap {{dataFilterCategories}}" >

        <div class="news_box__item">
            <a href="{{viewUrl}}" class="ajaxLink">
                <div class="news_box__thumb">
                    <img src="{{previewImg}}" alt="#">
                </div>

                <div class="news_box__txt">
                    <div class="news_box__txt-in">
                        <h4>{{title}}</h4>
                        <span>{{categoryTitles}}</span>
                    </div>
                    <div class="news_box__txt-top"></div>
                    <div class="news_box__txt-bt"></div>
                </div>
            </a>
        </div><!--.news_box__item-->

    </div>
{{/each}}

<script type="text/javascript">
    $(function () {
        // init Isotope
        var $grid = $('.news-container').isotope({
            itemSelector: '.news-wrap',
            layoutMode: 'fitRows'
        });

        // filter functions
        var filterFns = {
            // show if number is greater than 50
            numberGreaterThan50: function () {
                var number = $(this).find('.number').text();
                return parseInt(number, 10) > 50;
            },
            // show if name ends with -ium
            ium: function () {
                var name = $(this).find('.name').text();
                return name.match(/ium$/);
            }
        };

        var cid = sessionStorage.getItem('articles.index.filter.category_id');

        if (cid) {
            var filterValue = '.data-filter-' + cid;
            // use filterFn if matches value
            filterValue = filterFns[ filterValue ] || filterValue;

            $grid.isotope({filter: filterValue});
        }

        // bind filter button click
        $('.article-category-item').on('click', function () {
            var filterValue = $(this).attr('data-filter');
            // use filterFn if matches value
            filterValue = filterFns[ filterValue ] || filterValue;
            $grid.isotope({filter: filterValue});

            $('.article-category-item').removeClass("active");
            $(this).addClass('active');
        });
    });

</script>