<section class="about_page">

    <div class="blog_list_top">

        <video preload="true" loop="true" autoplay="true" muted="true" class="hidden-sm hidden-xs">
            <source src="../video/Office-3.mp4" type="video/mp4">
            <source src="../video/Office-3.webm" type="video/webm">
            <source src="../video/Office-3.webm" type="video/ogg">
        </video>

        <div class="blog_list_top__in">
            <h1 class="animated">Блог</h1>
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-lg-10 col-lg-offset-1 col-md-12">

                <div class="row">

                    <div class="col-md-12">

                        <div class="top_filters">
                            <div class="top_filters__sort">
                                <ul class="list-unstyled">
                                    <li class="desc">{{filter}}<div class="ico"></div></li>
                                </ul>
                            </div><!--.top_filters__sort-->


                            <div class="top_filters__multi">
                                <ul class="list-unstyled">
                                    {{#each categories}}                                        
                                        <li class="active article-category-item" data-filter=".data-filter-{{id}}" categoryId = "{{id}}"> {{title}} <div class="ico"></div></li>                                    
                                    {{/each}}
                                    
                                </ul>
                            </div><!--.top_filters__multi-->

                        </div><!--.top_filters-->

                    </div><!--.col-->

                </div><!--.row-->

                <div class="row news-container">



                </div><!--.row-->



                <div class="more_btn">
                    <a href="#" class="btn btn-bb animated">БОЛЬШЕ ПОСТОВ</a>
                </div>

            </div><!--.col-offset-1-->


        </div><!--.row-->

    </div><!--.container-->



</section>


