<section class="about_page">    
    <br><br><br>
    <div class="container">

        <div class="row">

            <div class="col-lg-10 col-lg-offset-1 col-md-12">

                <div class="row">

                    <div class="col-md-12">

                        <div class="top_filters">
                            <div class="top_filters__sort">
                                <ul class="list-unstyled">
                                    <li class="desc">{{filter}}<div class="ico"></div></li>
                                </ul>
                            </div><!--.top_filters__sort-->


                            <div class="top_filters__multi" style="display: none;">
                                <ul class="list-unstyled">
                                    {{#each categories}}                                        
                                    <li class="active article-category-item" data-filter=".data-filter-{{id}}" categoryId = "{{id}}"> {{title}} <div class="ico"></div></li>                                    
                                    {{/each}}

                                </ul>
                            </div><!--.top_filters__multi-->

                        </div><!--.top_filters-->

                    </div><!--.col-->

                </div><!--.row-->

                <div class="row news-container">



                </div><!--.row-->

                <div class="more_btn">                    
                    <a href="javascript:void(0);" id="newsShowMore" class="btn btn-bb animated">БОЛЬШЕ ПОСТОВ</a>                    
                </div>

            </div><!--.col-offset-1-->


        </div><!--.row-->

    </div><!--.container-->

</section>

<script type="text/javascript">
    $(window).on('page.view.article.article.renderWidgetItems', function () {

        if (!$.isEmptyObject(app.view.grid)) {
            return;
        }

        var url_body = location.href;
        if (url_body.search('ru/news') != -1) {
            $('.services_top').css('margin', '0 0 20px 0');
        }

        app.logger.text('$(".news-container").isotope');
        // init Isotope
        app.view.grid = $('.news-container');
        app.view.grid.isotope({
            itemSelector: '.news-wrap',
            layoutMode: 'fitRows'
        });

        // Page filters
        if ($('.top_filters__multi').length) {
            //$('.top_filters__multi').hide();

            $('.top_filters__sort li').click(function () {
                $(this).toggleClass('asc').toggleClass('desc');
                $('.top_filters__multi').slideToggle(300);
            });

            $('.top_filters__multi li').click(function () {
                $(this).toggleClass('active');
            });
        }

    });
</script>



