<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

            <div class="case_page__info">

                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="case_page__info-par">
                            <ul class="list-unstyled">
                                <li><h4>{{client}}:</h4> {{client_part}}</li>
                                <li><h4>{{country}}:</h4> {{country_part}}</li>
                                <li><h4>{{year}}:</h4> {{year_part}}</li>
                            </ul>
                        </div>
                    </div>
                    {{#if link_toSite}}
                    <div class="col-md-6 col-sm-6">
                        <div class="case_page__info-go">
                            <a href="{{link_toSite}}" class="btn btn-rr animated">{{title_button}}</a>
                        </div>
                    </div>
                    {{/if}}
                </div><!--.row-->

                <div class="row">

                    <div class="col-md-6">
                        <div class="case_page__info-txt">
                            <p>{{{text_first}}}</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="case_page__info-txt">
                            <p>{{{text_two}}}</p>
                        </div>
                    </div>

                </div><!--.row-->

            </div><!--.case_page__info-->
        </div><!--.col-of-1-->

    </div><!--.row-->
</div><!--.container-->