<section class="about_box" id="about">
	<div class="wrap">
		<div class="txt">
			<h2 class="wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.5s" data-wow-offset="100">{{title}}</h2>

			<p class="wow fadeIn" data-wow-duration="0.3s" data-wow-delay="0.5s" data-wow-offset="100">{{{text}}}</p>

			<div class="line wow fadeInDown" data-wow-duration="0.65s" data-wow-delay="0.5s" data-wow-offset="50"></div>
		</div>

		<div class="btn_hidden">
			<a href="{{urlToAbout}}" class="btn-an btn-260 wow fadeInUp ajaxLink" data-wow-duration="0.5s" data-wow-delay="0.65s" data-wow-offset="50">
				<div class="btn__wrap">
					<div class="btn btn-amore btn-norm">
						УЗНАТЬ БОЛЬШЕ
					</div>

					<div class="btn btn-amore-hov btn-hov"></div>
				</div>
			</a>
		</div>
	</div>
</section><!--.about_box-->