	<div class="clients_top__outer">
		<div class="clients_top">

            <img src="{{img_src}}" class="ss-back" />
            
			<video poster="/img/transparent.png" preload="none" loop="true" autoplay="true" muted="true" class="hidden-sm hidden-xs">
				<source src="{{video_src}}" type="video/mp4">
			</video>

			<div class="clients_top__in">
				<h1 class="animated">{{title}}</h1>
			</div>
		</div>
	</div>
	
	

<script type="text/javascript">

$(function(){

		setTimeout(function(){
			$('.about_page_top__in h1, .clients_top__in h1').addClass('fadeInDown');
		}, 3000);
		
});
		
</script>