<section class="contacts_page">

    <div class="contacts_page__map">

        <div class="contacts_page__map-embed" id="bigmap"></div>


        <div class="contacts_page__addr">

            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-lg-offset-7 col-md-6 col-md-offset-6">

                        <div class="contacts_box__default animated fadeInDown">

                            <div class="contacts_box__tabs">
                                <ul class="contacts_box__switch" role="tablist">
                                    <li class="active"><a href="#contacts-ukraine" aria-controls="contacts-ukraine" role="tab" data-toggle="tab">УКРАИНА</a></li>
                                    <li><a href="#contacts-kz" aria-controls="contacts-kz" role="tab" data-toggle="tab">КАЗАХСТАН</a></li>
                                </ul>

                                <div class="tab-content">
                                    {{#if items.0.city}}
                                    <div role="tabpanel" class="tab-pane active" id="contacts-ukraine">
                                        {{items.0.city}}, {{items.0.street}}<br>
                                        <a href="tel:+380442237060">{{items.0.phone}}</a><br>
                                        <a href="mailto:welcome@skykillers.com">{{items.0.email}}</a>

                                        <div class="show-inmap">
                                            <a href="http://www.google.com.ua/maps" class="btn btn-bb animated">
                                                {{t.show_on_map}}
                                            </a>
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if items.1.city}}
                                    <div role="tabpanel" class="tab-pane fade" id="contacts-kz">
                                        {{items.1.city}}, {{items.1.street}}<br>
                                        <a href="tel:+380442237060">{{items.1.phone}}</a><br>
                                        <a href="mailto:welcome@skykillers.com">{{items.1.email}}</a>

                                        <div class="show-inmap">
                                            <a href="http://www.google.com.ua/maps" class="btn btn-bb animated">
                                                {{t.show_on_map}}
                                            </a>
                                        </div>
                                    </div>
                                    {{/if}}
                                </div><!--.tab-content-->

                            </div><!--.contacts_box__tabs-->

                        </div><!--.contacts_box__default-->

                    </div><!--.col-->

                </div><!--.row-->

            </div><!--.container-->

        </div><!--.contacts_page__addr-->

    </div><!--.contacts_page-->

</section>

<script>

</script>