<section class="contacts_box" id="contacts">

    <div class="container">

        <div class="row">

            <div class="col-md-6 col-md-offset-3 col-sm-7 col-sm-offset-3">

                <div class="contacts_box__feedback">

                    <p>По вопросам сотрудничества, пожалуйста,<br> заполните форму обратной связи<br> или напишите нам!</p>

                    <form action="#" id="contact_form">
                        <div class="inp-group">
                            <input type="text" name="name" placeholder="ваше имя" class="inp-style">
                        </div>

                        <div class="inp-group">
                            <input type="text" name="mail" placeholder="e-mail" class="inp-style">
                        </div>

                        <div class="inp-group">
                            <textarea name="msg" rows="3" placeholder="приятные слова" class="inp-style"></textarea>
                        </div>

                        <input type="submit" value="ОТПРАВИТЬ" class="btn btn-bw">

                    </form>

                    {{{socialBox}}}

                </div><!--.contacts_box__feedback-->
                <div class="contacts_box__thanks">
                    СПАСИБО, МЫ СВЯЖЕМСЯ С ВАМИ<br>
                    В БЛИЖАЙШЕЕ ВРЕМЯ!
                </div> 
            </div>

        </div><!--.row-->

    </div><!--.container-->

</section><!--.contacts_box-->
<script>
    $(document).ready(function () {
        // Contacts box
        $('.contacts_box__default-btn .flip-btn').click(function () {
            $('.contacts_box').addClass('flip');
            //$('.wrapper').animate({'height':'500px'}, 250);
        });

        $('.contacts_box__feedback--cancel').click(function () {
            $('.contacts_box').removeClass('flip');
            //$('.wrapper').animate({'height':'400px'}, 250);

            $('#contact_form').validate().resetForm();
        });

        $('.contacts_box__feedback--submit').click(function () {
            $('.flip-panel').fadeOut(300, function () {
                $('.contacts_box__thanks').fadeIn(300);
            });

            setTimeout(function () {
                $('.hover').removeClass('flip');
                $('.contacts_box__thanks').fadeOut(250, function () {
                    $('.wrapper').animate({'height': '400px'}, 250);
                    $('.flip-panel').fadeIn(300);
                })
            }, 3000);

        });
    });
    // Validate contact form
    if ($('#contact_form').length) {

        $('#contact_form').validate({
            //debug: true,
            errorClass: 'inp-error',
            errorElement: 'p',
            highlight: function (element, errorClass, validClass) {
                $(element).addClass(errorClass).removeClass(validClass);
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass(errorClass).addClass(validClass);
            },
            rules: {
                mail: {
                    required: true,
                    email: true
                },
                msg: {
                    required: true,
                    minlength: 2
                },
            },
            messages: {
                mail: "Введите корректные данные",
                msg: {
                    required: "Введите ваше сообщение",
                    minlength: "Сообщение должно быть больше двух символов"
                },
            },
            submitHandler: function (form) {
                var data = {
                    nick: $(form).find('input[name="name"]').val(),
                    email: $(form).find('input[name="mail"]').val(),
                    message: $(form).find('textarea[name="msg"]').val(),
                    lang: app.router.locale
                };

                $.ajax({
                    url: app.config.frontend_app_api_url + '/db/feedback/create',
                    data: data,
                    cache: false,
                    contentType: 'application/x-www-form-urlencoded',
                    processData: true,
                    type: 'POST',
                    success: function (data) {
                        app.logger.var(data);
                    }
                });

                $('.contacts_box__feedback').fadeOut(300, function () {
                    $('.contacts_box__thanks').fadeIn(300);
                });

                setTimeout(function () {
                    $('.contacts_box').removeClass('flip');
                    $('.contacts_box__thanks').fadeOut(250, function () {
                        $('.contacts_box__feedback').fadeIn(300);
                        //$('.wrapper').animate({'height':'400px'}, 250);
                    });

                    //alert('Submitted!');

                }, 3000);

            }

        });
    }
</script>
<footer class="footer">
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-lg-offset-1 col-md-7 col-sm-7 col-xs-8">

                <div class="footer__copy">
                    <p>QREACHERS. 2015. В качестве продолжения предыдущей статьи о мировых тенденциях в использовании мобильной рекламы</p>
                </div>

            </div>

            <div class="col-lg-2 col-lg-offset-3 col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-1 col-xs-4 col-xs-offset-0">

                <div class="footer__logo">
                    <a href="/"><img src="/img/logo-gp.jpg" alt="#"></a>
                </div>

            </div>

        </div>

    </div><!--.container-->
</footer>
