<section class="main_top" id="main">

	<div class="main_slider">

		<ul class="slides list-unstyled">
                    {{#each items}}
			<li class="main_slider__1">
			
				<div class="main__wrap">
	
                    <img src="{{img_src}}" class="ss-back" />
                    
					<video poster="/img/transparent.png" preload="none" loop autoplay muted class="hidden-sm hidden-xs" id="main_video1">
						<source src="{{video_src}}" type="video/mp4">
					</video>

					<div class="main_slider__in" data-anchor-target=".main_top" data-start="opacity: 1; margin-top: 0%;" data-top-center="opacity: 0; margin-top: 50%;">
						<div class="main_slider__cell">
							<h2 class="animated">{{title}}</h2>
							
							<a href="{{url_pages}}" class="btn btn-bw animated">{{title_button}}</a>
						</div>
					</div>

				</div><!--.main__wrap-->
				
			</li>
                    {{/each}}  
		</ul>

	</div><!--.main_slider-->

</section><!--.main_top-->
<script>
    	 //Main slider
	if($('.main_slider').length) {
		$('.main_slider').flexslider({
			//smoothHeight: true,
			slideshow: false,
		});
	}
	if($('.btitle_name').length) {
		btitle_name();

		$(window).resize(function(){
			btitle_name();
		});
	}
	
    $(document).ready(function() {
        $(".main_slider__1").find("video").get(0).pause();    
    });
    
	$(".flex-control-nav li a").click(function() {
        $(".main_slider__1").find("video").get(0).pause();
        $(".flex-active-slide").find("video").get(0).play();    
    });

	/* ajax height fix */

	heightFix();

	$(window).resize(function(){
		heightFix();
	});

	function heightFix(){
		$('.main_top').css({'height':$(window).height()});
		console.log($(window).height());
	}
</script>
