<div class="blog_post__top">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                <div class="blog_post__slide">
                    <h4 class="animated">Образование</h4>
                    <h2 class="animated">Урок 2:<br>
                        Портрет пользователя и инструменты мобильной рекламы
                        <span class="line animated"></span>
                    </h2>

                    <div class="trio_nev__wrap">
                        <div class="trio_nev animated">
                            <div class="trio_nev__in">
                                <div class="trio_nev__left">Пред.</div>
                                <a href="#">
                                    <span class="trio_nev__ico"></span>
                                    <span class="trio_nev__txt">Все материалы</span>
                                </a>
                                <div class="trio_nev__right">След.</div>
                            </div>
                        </div><!--.trio_nev-->
                    </div><!--.trio_nev__wrap-->
                </div>

            </div>
        </div>
    </div>
</div><!--.blog_post__top-->