{{#each items}}
<a href="{{viewUrl}}" class="ajaxLink">
    <div class="col-md-5 col-md-offset-1 project-box {{dataFilterCategories}}">
        <div class="projects_box__item">
            <div class="projects_box__thumb">
                <img src="{{previewImg}}" alt="#">
            </div>

            <div class="projects_box__txt">
                <span>{{categoryTitles}}</span>
                <h4>{{title}}</h4>
                <p>{{description}}</p>
            </div>
        </div>

    </div>	
</a>
{{/each}}




<section class="projects_box" id="projects">

	<div class="container">

	<div class="projects_box__in cf">

		<ul class="list-unstyled slides">

			<li>
				<div class="row wow fadeIn" data-wow-duration="0.3s" data-wow-delay="0.3s" data-wow-offset="50">

					<div class="col-md-5 col-md-offset-1">

						<div class="projects_box__item">
							<div class="projects_box__thumb wow fadeInDownMin" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="200">
								<img src="images/img-tools1.jpg" alt="#">
							</div>

							<div class="projects_box__txt wow fadeInUpMin" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="50">
								<div class="wow fadeIn" data-wow-duration="0.7s" data-wow-delay="1.4s" data-wow-offset="50">
									<span>Промо</span>
									<h4>Лэндинг общественного WI-FI</h4>
									<p>Конверсионные посадочные страницы отдельно для каждой услуги АО «Касазхетеком».</p>
								</div>
							</div>
						</div>

					</div><!--.col-->

					<div class="col-md-5 hidden-sm hidden-xs">
					
						<div class="projects_box__item">
							<div class="projects_box__thumb wow fadeInDownMin" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="200">
								<img src="images/img-tools2.jpg" alt="#">
							</div>
							
							<div class="projects_box__txt wow fadeInUpMin" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="25">
								<div class="wow fadeIn" data-wow-duration="0.7s" data-wow-delay="1.4s" data-wow-offset="50">
									<span>Конверсия / Размещение</span>
									<h4>Лэндинг общественного WI-FI</h4>
									<p>Конверсионные посадочные страницы отдельно для каждой услуги АО «Касазхетеком».</p>
								</div>
							</div>
						</div>

					</div><!--.col-->

				</div><!--.row-->
			</li>

		</ul>
	</div><!--.projects_box__in-->

	<div class="trio_nav__wrap wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.8s">
		<div class="trio_nav">
			<div class="trio_nav__in">
				<div class="trio_nav__left"></div>
					<a href="#">
						<span class="trio_nav__ico"></span>
						<span class="trio_nav__txt">ВСЕ КЕЙСЫ</span>
					</a>
				<div class="trio_nav__right"></div>
			</div>
		</div><!--.trio_nav-->
	</div><!--.trio_nav__wrap-->

	</div><!--.container-->


</section><!--.projects_box-->






<script>
    // Cases show/hide description
    if ($('.projects_box__txt p').length) {
        $('.projects_box__item').hover(function () {
            $(this).find('.projects_box__txt p').slideToggle(250);
        });
    }
</script>
